*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;
}
:root{
    --color-yellow:#f8e9a1;
    --color-red:#f76c6c;
    --colro-blue:#a8d0e6;
    --color-blue-dark:#374785;
    --color-blue-extra-dark:#24305e;

}
.cotainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('https://svgshare.com/i/MxY.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    font-size: 2rem;
    color: #fff;
    width: 100vw;
}
.container-top{
    border-radius: .7rem;
    margin-top: 8rem;
    background-color: var(--colro-blue);
    padding: 2rem 5rem;
    flex: 0 1 20%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
.container-bottom{
    border-radius: .7rem;
    padding: 2rem 5rem;
    background-color: var(--color-blue-extra-dark);
    transition: all .2s;
    opacity: 0;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
   
}
table{
    border-spacing: 5rem;
    background-color: var(--color-blue-dark);
    border: 1px solid var(--color-red);
    border-radius: .7rem;
    
}
.show{
    opacity: 1;
    transition: all .2s;
}
form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
input, input:focus{
    margin-right: 10rem;
    height: 4rem;
    width: 40%;
    border-radius: .5rem;
    outline: none;
    border: none;
    background-color: var(#fff);
    font-size: 2rem;
    color: var(--color-blue-extra-dark);
}
select{
    height: 4rem;
    width: 30rem;
    border-radius: .5rem;
}
.btn{
    margin-top: 5rem;
    margin-left: 5rem;
    padding: 1rem;
    border-radius: 200px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    transition: all .2s;
    color: var(--color-blue-extra-dark);
    
}
.btn:hover{
    transform: translateY(-4px);
    background-color: var(--color-blue-dark);
    color: #fff;
}
.btn:active{
    transform: translateY(0px);
}
.user__data-sconto{
    height: 4rem;
    width: 30rem;
    border-radius: .5rem;
    outline: none;
    border: none;
    font-size: 2rem;
}
.heding-biglietto{
    margin: 2rem 0;
    color: var(--color-blue-extra-dark);
    
}
.biglietto__dettagli-heading{
    text-align: center;
    margin-bottom: 2rem;
}


